@font-face 
{ 	
	font-family: "lcam"; 	
	src: url('../font/la_Chatte_a_Maman.ttf');
}

@font-face 
{ 
	font-family: "champ";
	src: url('../font/Champagne & Limousines.ttf');
}

body, html
{
	margin: 0px; padding: 0px;
	background: url("../img/background.jpg") no-repeat center fixed;
	background-size: cover;
	color: white;
	font-family: champ;
}

ul
{
	padding: 0px;
	list-style: none;
}

a
{
	text-decoration: none;
}





/*_______________________________________________________________ : Navigateur  */
nav
{
	width: 100%;
	height: 10%;
	text-align: center;
}

nav > i
{
	position: absolute;
	color: rgb(91, 115, 21);
	font-size: 33px;
	top: 5%; left: 25px;
}

nav > i:hover, nav > ul > a > li:hover
{
	color: rgb(133, 165, 39);
}

nav > ul
{
	display: inline-block;
	margin: 0 auto;
	width: 100%;
}

nav > ul > a > li
{
	display: inline-block;
	font-size: 19px;
	color: white;
	padding: 2% 25px 2% 25px;
	width: 8%;
}

nav > ul > li:nth-child(4), nav > ul > li:nth-child(4):hover
{
	font-size: 30px;
	width: 110px;
	margin: 0px 8px;
	padding: 0px;
	color: white;
	display: inline-block;
}





/*_______________________________________________________________ : Page d'accueila  */
.title
{
	font-family: lcam; font-size: 100px;
	text-align: center;
	margin: 140px auto 0px auto;
	background-color: rgba(91, 115, 21, 0.8);
	padding: 1% 2%;
	width: 35%;
	letter-spacing: 0.09em;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

p
{
	text-align: center;
	font-size: 15px;
}

.controleur
{
	background-color: rgba(0, 0, 0, 0.67);
	padding: 30px;
	position: absolute;
	left: 0px; right: 0px; bottom: 0px;
	color: rgb(150, 150, 150);
	font-size: 12px;
	text-align: center;
}

.controleur > i:first-child, i:nth-child(2)
{
	padding: 5px 7px;
	/*border-radius: 15px; border: 1.5px solid rgb(150, 150, 150);*/
	margin-left: 3px;
}

.controleur > i:nth-child(4), .controleur > i:last-child
{
	font-size: 16px;
}

.controleur > div 
{
	width: 50%;
	height: 8px;
	display: inline-block;
	background-color: rgb(150, 150, 150);
	margin: 0px 10px;
}

.controleur > div:nth-child(5)
{
	width: 6%;
	height: 4px;
	margin: 3px 3px;
}
