<section id="event">
	<h1 class="title">Event</h1>
	<ul>
		<li>
			<div>
				<img src="img/event2.jpg">
			</div>
			<div>
				<h3>Nom de l'évenement</h3>
				<span>Date : Vendredi 02 mai 2015</span>
				<h4>Résumé :</h4>
				<p>Atque Montium senem avidi Montium Montium sine avidi post traxere senem morbosum spiramento sine qui eius saepe sunt et cruribus Montium usque levi et qui innexis corpore ad atque senem primum eius saepe innexis post proximo eius divaricaturn</p>
				<button class="button">Discover more</button>
				<i class="fa fa-plus"></i>
			</div>
		</li>
		<li>
			<div>
				<img src="img/event2.jpg">
			</div>
			<div>
				<h3>Nom de l'évenement</h3>
				<span>Date : Vendredi 02 mai 2015</span>
				<h4>Résumé :</h4>
				<p>Atque Montium senem avidi Montium Montium sine avidi post traxere senem morbosum spiramento sine qui eius saepe sunt et cruribus Montium usque levi et qui innexis corpore ad atque senem primum eius saepe innexis post proximo eius divaricaturn</p>
				<button class="button">Discover more</button>
				<i class="fa fa-plus"></i>
			</div>
		</li>
		<li>
			<div>
				<img src="img/event2.jpg">
			</div>
			<div>
				<h3>Nom de l'évenement</h3>
				<span>Date : Vendredi 02 mai 2015</span>
				<h4>Résumé :</h4>
				<p>Atque Montium senem avidi Montium Montium sine avidi post traxere senem morbosum spiramento sine qui eius saepe sunt et cruribus Montium usque levi et qui innexis corpore ad atque senem primum eius saepe innexis post proximo eius divaricaturn</p>
				<button class="button">Discover more</button>
				<i class="fa fa-plus"></i>
			</div>
		</li>
		<li>
			<div>
				<img src="img/event2.jpg">
			</div>
			<div>
				<h3>Nom de l'évenement</h3>
				<span>Date : Vendredi 02 mai 2015</span>
				<h4>Résumé :</h4>
				<p>Atque Montium senem avidi Montium Montium sine avidi post traxere senem morbosum spiramento sine qui eius saepe sunt et cruribus Montium usque levi et qui innexis corpore ad atque senem primum eius saepe innexis post proximo eius divaricaturn</p>
				<button class="button">Discover more</button>
				<i class="fa fa-plus"></i>
			</div>
		</li>
	</ul>
	<div id="basDePage">
		<img src="img/event1.jpg">
		<div id="eventInfo">
			<i class="fa fa-angle-up"></i>
			<h2>Nom de l'event</h2>
			<span>Date : Vendredi 02 mai 2015</span>
			<h3>Description :</h3>
			<p>Atque Montium senem avidi Montium Montium sine avidi post traxere senem morbosum spiramento sine qui eius saepe sunt et cruribus Montium usque levi et qui innexis corpore ad atque senem primum eius saepe innexis post proximo eius divaricaturn ad qui militares usque traxere spiramento turbarum eius in praetorium eius cruribus.</p>
			<i class="fa fa-angle-down"></i>
		</div>
	</div>
</section>